:host {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding:50px;
    > .tile {
        margin: 30px;
        padding: 5px;
        text-align: center;
        
        width: 200px;
        height: 250px;
        border: 1px solid #f5f0f0;
        box-shadow: 1px 2px 3px #d6d6f4;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        transition: all 0.2s;
        border-radius: 1%;
        cursor: pointer;
        &:hover:not(.loading) {
            transform: scale(1.1);
            box-shadow: 0px 2px 5px #858383;
        }
        &.add{
            font-size: 2em;
        }
        > img {
            border-radius: 50%;
            width: 180px;
        }
        > .email {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }

    }
}